services:
  api:
    build: ./src/api
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/documents
      - KAFKA_BROKER=kafka:9092
    depends_on:
      - postgres
      - kafka

  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=documents
    volumes:
      - postgres_data:/var/lib/postgresql/data
  kafka:
    image: apache/kafka:latest
    ports:
      - "9092:9092"
    environment:
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_NODE_ID=1
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:29093
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,CONTROLLER://kafka:29093 #
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    volumes:
      - kafka_data:/var/lib/kafka/data

  minio:
    image: minio/minio
    command: server /data
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  elasticsearch:
    image: elasticsearch:9.2.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

  es_worker:
    build: ./src/workers/es_worker
    environment:
      - KAFKA_BROKER=kafka:9092
      - ES_ENDPOINT=http://elasticsearch:9200
      - ES_INDEX=documents
    depends_on:
      - kafka
      - elasticsearch

  s3_worker:
    build: ./src/workers/s3_worker
    environment:
      - KAFKA_BROKER=kafka:9092
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS=minio
      - MINIO_SECRET=minio123
      - S3_BUCKET=documents
    depends_on:
      - kafka

  finalizer_worker:
    build: ./src/workers/finalizer_worker
    environment:
      - KAFKA_BROKER=kafka:9092
      - POSTGRES_HOST=postgres
      - POSTGRESS_PORT=5432
      - POSTGRES_DB=documents
      - POSTGRES_USER=postgres
      - POSTGRES_PASS=postgres
    depends_on:
      - kafka

volumes:
  postgres_data:
  kafka_data:
  minio_data: